* {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    color: #FFFFFF;
   }

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div a{
    display: flex;
    text-decoration: none;
}

header nav div a img,
header nav .menu img{
    width: 40px;
    height: 40px;
}

header nav div a p{
    color: #30fdb0;
    font-size: 2em;
    margin-left: 10px;
}

header nav ul{
    display: flex;
    list-style-type: none;
}    

header nav ul li{
    margin-left: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: #30fdb0;
}   

footer{
    display: flex;
    justify-content: flex-end;
}

footer img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.bgHeaderFooter{
    background-color: #272727;
}

.container{
    padding: 10px 15px;
    box-sizing: border-box;
}

.containerFlex{
    display: flex;
}

.title{
    margin-bottom: 20px;
    font-size: 2em;
}

.imgResponsive{
    width: 100%;
    height: auto;
 }

 .headerMenu{
    justify-content: flex-end;
 }

/* Index ---------------------------------------------*/   
.index {
    background-color: #232323;
}   

/* Catalogo ---------------------------------------------*/   
.catalogo {
    background-color: #232323;
}   

.catalogo .containerFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalogo .containerFlex article{
    width: 24%;
    margin-bottom: 20px;
    align-items: center;
    border: 2px solid #30fdb0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Sucursales ---------------------------------------------*/
.sucursales{
    background-color: #232323;
}

.sucursales .containerFlex{
    justify-content: space-between;
    flex-wrap: wrap;
}

.sucursales .containerFlex article{
    width: 30%;
    margin-bottom: 20px;
}

.sucursales .containerFlex article .containerMap{
    width: 100%;    
    height: 500px;
}

.sucursales .containerFlex article .containerMap iframe{
    width: 100%;    
    height: 100%;
}

.sucursales .containerFlex article div h2{
    color: #30fdb0;
}

/* Nosotros ---------------------------------------------*/
.nosotros{
    background-color: #232323;
}

.nosotros.containerFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nosotros.containerFlex div:first-child{
    width: 68%;
}

.nosotros.containerFlex div:last-child{
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contacto ---------------------------------------------*/    
.contacto{
    background-color: #232323;
}

.contacto form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacto form input,
.contacto form textarea{
    background-color: #232323;
    border: 1px solid #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.contacto form label,
.contacto form legend{
    color: #30fdb0;
}

.contacto form .input{
    display: flex;
    flex-direction: column;
    width: 24%;
    padding: 10px 0px;
    box-sizing: border-box;
}

.contacto form .selectableOptions{
    display: flex;
    padding: 10px 0px;
}

.contacto form .selectableOptions div{
    flex-direction: row;
    margin-right: 20px;
}

.contacto form .selectableOptions div label{
    color:white;
    margin-right: 15px;
}
        
.contacto form .message{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacto form .message input{
    margin-top: 10px;
    background-color: #30fdb0;
    color: #232323;
    font-size: 1em;
    font-weight: bold;
    border: none;
}

/* Menu ---------------------------------------------*/  
.menu{
    background-color: #232323;
}

.menu div ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.menu div ul li{
    margin: 25px 0px;
    border-bottom: 1px solid #FFFFFF;
}

.menu div ul li a{
    display: flex;
    text-decoration: none;
    font-size: 1.5em;
    color: #30fdb0;
}   

.menu div ul li a img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.menu div ul li a p{
    font-size: 1.2em;
    color: #30fdb0;
}

/*------------------------------------------------------
Media Queries ------------------------------------------
-------------------------------------------------------*/ 

/* Header y Footer ------------------------------------*/
@media (max-width: 600px){
	header nav ul{
        display: none;
    } 
    footer{
        justify-content: center;
    }
}

@media (min-width: 601px){
	header nav .menu{
        display: none;
    }    
}

/* Catálogo ---------------------------------------------*/
@media (max-width: 1920px){
	.index,
    .menu,
    .fullHeight{
        height: 100%;
    } 
}

/* Catálogo ---------------------------------------------*/
@media (max-width: 420px){
	.catalogo .containerFlex article{
        width: 96%;
    }  
}

@media (min-width: 421px) and (max-width: 840px){
	.catalogo .containerFlex article{
        width: 43%;
    }  
}

@media (min-width: 841px) and (max-width: 1260px){
	.catalogo .containerFlex article{
        width: 32%;
    }  
}

/* Sucursales ---------------------------------------------*/
@media (max-width: 560px){
	.sucursales .containerFlex article{
        width: 90%;
    }  
}

@media (min-width: 561px) and (max-width: 1120px){
	.sucursales .containerFlex article{
        width: 45%;
    }  
}

/* Nosotros ---------------------------------------------*/
@media (max-width: 1350px){
	.nosotros.containerFlex div:first-child{
        width: 100%;
    }
    .nosotros.containerFlex div:last-child{
        width: 100%;
    }
}

/* Contacto ---------------------------------------------*/
@media (max-width: 420px){
	.contacto form .input{
        width: 96%;
    }  
}

@media (min-width: 421px) and (max-width: 840px){
	.contacto form .input{
        width: 48%;
    }  
}

@media (max-width: 625px){
	.contacto form .selectableOptions{
        flex-direction: column;
    } 

    .contacto form .selectableOptions div:last-child legend{
        margin-top: 10px;
    } 
}
