* {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    color: #FFFFFF;
   }

body{
    background-color: #272727;
}

header nav.navbar-expand-lg div.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.navbar-expand-lg div.container-fluid button.navbar-toggler:focus{
    box-shadow: none;
}

header nav.navbar-expand-lg div.container-fluid button.navbar-toggler:hover{
    opacity: 0.5;
}


header nav.navbar-expand-lg div.container-fluid button span.navbar-toggler-icon{
    background-image: url(../img/menu.png);
}

header nav.navbar-expand-lg div.container-fluid div{
    display: flex;
    justify-content: flex-end;
    flex-grow: initial;
}

header nav.navbar-expand-lg div.container-fluid div.collapse:not(.show){
   display: none;
}

header nav div a{
    display: flex;
    text-decoration: none;
}

header nav div a.logo{
    transition-timing-function: ease;
    transition: 0.4s;
}

header nav div a.logo:hover{
    opacity: 0.5;
    transform: scale(0.90);
    transition-timing-function: ease;
    transition: 0.4s;
}

header nav div a img{
    width: 40px;
    height: 40px;
}

header nav div a p{
    color: #30fdb0;
    font-size: 2em;
    margin-left: 10px;
    margin-bottom: 0px;
}

header nav ul{
    display: flex;
    list-style-type: none;
}    

header nav ul li a.nav-link{
    text-decoration: none;
    color: #30fdb0;
}   

header nav ul li a.nav-link:hover{
    text-decoration: none;
    color: #30fdb0;
    opacity: 0.5;
}  

footer{
    display: flex;
    justify-content: flex-end;
}

footer img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    transition-timing-function: ease;
    transition: 0.4s;
}

footer img:hover{
    opacity: 0.5;
    transform: scale(0.7);
    transition-timing-function: ease;
    transition: 0.4s;
}

.bgHeaderFooter{
    background-color: #272727;
}

.containerCustom{
    box-sizing: border-box;
    max-width: none;
    padding: 10px 15px;
}

.containerHeader{
    box-sizing: border-box;
    max-width: none;
    padding: 0px 0px;
}

.containerFlex{
    display: flex;
}

.title{
    margin-bottom: 20px;
    font-size: 2em;
}

.imgResponsive{
    width: 100%;
    height: auto;
 }

 .headerMenu{
    justify-content: flex-end;
 }

 .navbar-nav .nav-link.active{
    color: #FFFFFF;
 }

/* Index ---------------------------------------------*/   
.index {
    background-color: #272727;
}   

/* Catalogo ---------------------------------------------*/ 
.catalogo{
    max-width: none;
} 

.catalogo .row .col-xl-3{
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.catalogo .mangaCard{
    border: 2px solid #30fdb0;
    padding: 15px;
}

.catalogo .mangaCard h2{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: none;
    margin-top: 10px;
}


/* Sucursales ---------------------------------------------*/
.sucursales{
    background-color: #272727;
}

.sucursales .containerFlex{
    justify-content: space-between;
    flex-wrap: wrap;
}

.sucursales .containerFlex article{
    width: 30%;
    margin-bottom: 20px;
}

.sucursales .containerFlex article .containerMap{
    width: 100%;    
    height: 500px;
}

.sucursales .containerFlex article .containerMap iframe{
    width: 100%;    
    height: 100%;
}

.sucursales .containerFlex article div h2{
    color: #30fdb0;
}

/* Nosotros ---------------------------------------------*/
.nosotros{
    background-color: #272727;
}

.nosotros.containerFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nosotros.containerFlex .divCarousel{
    width: 68%;
}

.nosotros.containerFlex .textoNosotros{
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contacto ---------------------------------------------*/    
.contacto{
    background-color: #272727;
}

.contacto form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacto form input,
.contacto form textarea{
    background-color: #272727;
    border: 1px solid #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.contacto form label,
.contacto form legend{
    color: #30fdb0;
}

.contacto form .input{
    display: flex;
    flex-direction: column;
    width: 24%;
    padding: 10px 0px;
    box-sizing: border-box;
}

.contacto form .selectableOptions{
    display: flex;
    padding: 10px 0px;
}

.contacto form .selectableOptions div{
    flex-direction: row;
    margin-right: 20px;
}

.contacto form .selectableOptions div label{
    color:white;
    margin-right: 15px;
}
        
.contacto form .message{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacto form .message input{
    margin-top: 10px;
    background-color: #30fdb0;
    color: #272727;
    font-size: 1em;
    font-weight: bold;
    border: none;
    transition-timing-function: ease;
    transition: 0.4s;
}

.contacto form .message input:hover{
    opacity: 0.5;
    transform: scale(0.98);
    transition-timing-function: ease;
    transition: 0.4s;
}


/*------------------------------------------------------
Media Queries ------------------------------------------
-------------------------------------------------------*/ 

/* Footer ------------------------------------*/
@media (max-width: 600px){
    footer{
        justify-content: center;
    }
}
/* Index ---------------------------------------------*/
@media (max-width: 1920px){
	.index,
    .fullHeight{
        height: 100%;
    } 
}

/* Sucursales ---------------------------------------------*/
@media (max-width: 560px){
	.sucursales .containerFlex article{
        width: 90%;
    }  
}

@media (min-width: 561px) and (max-width: 1120px){
	.sucursales .containerFlex article{
        width: 45%;
    }  
}

/* Nosotros ---------------------------------------------*/
@media (max-width: 1350px){
	.nosotros.containerFlex .divCarousel{
        width: 100%;
    }
    .nosotros.containerFlex .textoNosotros{
        width: 100%;
    }
}

/* Contacto ---------------------------------------------*/
@media (max-width: 420px){
	.contacto form .input{
        width: 96%;
    }  
}

@media (min-width: 421px) and (max-width: 840px){
	.contacto form .input{
        width: 48%;
    }  
}

@media (max-width: 625px){
	.contacto form .selectableOptions{
        flex-direction: column;
    } 

    .contacto form .selectableOptions div:last-child legend{
        margin-top: 10px;
    } 
}
