/* Catalogo ---------------------------------------------*/ 
.catalogo{
    max-width: none;
    .row{
        .col-xl-3{
            padding-bottom: calc(var(--bs-gutter-x) * .5);
        }
    }
    h2{
        margin-bottom: none;
        margin-top: 10px;
    }    
}