/* Common ---------------------------------------------*/ 
* {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    color: map-get($styles, generictTextColor);
}
body{
    background-color: map-get($styles, bgDarkColor);
}
.bgHeaderFooter{
    background-color: map-get($styles, bgDarkColor);
}
.containerCustom{
    box-sizing: border-box;
    max-width: none;
    padding: 10px 15px;
}
.containerHeader{
    box-sizing: border-box;
    max-width: none;
    padding: 0px 0px;
}
.containerFlex{
    display: flex;
}
.title{
    margin-bottom: 20px;
    font-size: map-get($styles, titleFontSize);
    font-weight: bold;
}
.subTitle{
    font-size: map-get($styles, subtitleFontSize);
    font-weight: bold;
}
.textGeneric{
    font-size: map-get($styles, genericTextFontSize);
}
.imgResponsive{
    @include setSize(100%, auto);
 }
 .headerMenu{
    justify-content: flex-end;
 }
 .navbar-nav .nav-link.active{
    color: map-get($styles, generictTextColor);
 }
 .brandLogo{
    transition-timing-function: ease;
    transition: 0.4s;
    &:hover{
        @include setHover(0.9);
    }
}
.textBrand{
    @extend .title;
    color: map-get($styles, accentColor);
    margin-left: 10px;
    margin-bottom: 0px;
}
.imgSocialMedia{
    @include setSize(30px, 30px);
    margin-left: 10px;
    transition-timing-function: ease;
    transition: 0.4s;
    &:hover{
        @include setHover(0.7);
    }
}
.mangaCard{
    border: 2px solid map-get($styles, accentColor);
    border-radius: 10px;
    padding: 15px;
}
.cardDescription{
    @include setSize(100%, 100%);
    position: absolute;
    top: 0;
    background: map-get($styles, bgMangaCard);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
}
.containerMap{
    @include setSize(100%, 500px);
}
.iframeFullSize{
    @include setSize(100%, 100%);
}