/* Header ---------------------------------------------*/ 
header{
    nav.navbar-expand-lg div.container-fluid{
        @include flex-space-between;
        align-items: center;
        button.navbar-toggler:focus{
            box-shadow: none;
        }
        button.navbar-toggler:hover{
            opacity: 0.5;
        }
        button{
            span.navbar-toggler-icon{
                background-image: url(../img/menu.png);
            }
        }     
        div{
            @include flex-end;
            flex-grow: initial;
        }
        div.collapse:not(.show){
            display: none;
        }
    }
    nav {
        div{
            a{
                display: flex;
                text-decoration: none;
                font-size: map-get($styles, genericTextFontSize);
                img{
                    @include setSize(40px, 40px);
                }
            }
        }
        ul{
            display: flex;
            list-style-type: none;
            li{
                a.nav-link{
                    text-decoration: none;
                    color: map-get($styles, accentColor);
                    &:hover{
                        text-decoration: none;
                        color: map-get($styles, accentColor);
                        opacity: 0.5;
                    }     
                }
            }
        }
    }        
}   
