/* Header ---------------------------------------------*/ 
header{
    nav.navbar-expand-lg div.container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button.navbar-toggler:focus{
            box-shadow: none;
        }
        button.navbar-toggler:hover{
            opacity: 0.5;
        }
        button{
            span.navbar-toggler-icon{
                background-image: url(../img/menu.png);
            }
        }     
        div{
            display: flex;
            justify-content: flex-end;
            flex-grow: initial;
        }
        div.collapse:not(.show){
            display: none;
        }
    }
    nav {
        div{
            a{
                display: flex;
                text-decoration: none;
                font-size: $textGeneric;
                img{
                    width: 40px;
                    height: 40px; 
                }
                p{
                    color: $text_green;
                    font-size: $textTitle;
                    margin-left: 10px;
                    margin-bottom: 0px;
                }
            }
            a.logo{
                transition-timing-function: ease;
                transition: 0.4s;
            }
            a.logo:hover{
                opacity: 0.5;
                transform: scale(0.90);
                transition-timing-function: ease;
                transition: 0.4s;
            }
        }
        ul{
            display: flex;
            list-style-type: none;
            li{
                a.nav-link{
                    text-decoration: none;
                    color: $text_green;
                }
                a.nav-link:hover{
                    text-decoration: none;
                    color: $text_green;
                    opacity: 0.5;
                }     
            }
        }
    }        
}   
