$styles:(
    titleFontSize: $textTitle,
    subtitleFontSize: $textSubtitle,
    genericTextFontSize: $textGeneric,
    bgDarkColor: $bgDark,
    accentColor: $accent,
    bgMangaCard: $bgMangaCard,
    generictTextColor: $genericText
)