@mixin setSize($width, $height){
    width: $width;
    height: $height;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
}

@mixin flex-space-between{
    display: flex;
    justify-content: space-between;
}

@mixin flex-end{
    display: flex;
    justify-content: flex-end;
}