@mixin setSize($width, $height){
    width: $width;
    height: $height;
}

@mixin setHover($scale){
    opacity: 0.5;
    transform: scale($scale);
    transition-timing-function: ease;
    transition: 0.4s;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
}

@mixin flex-space-between{
    display: flex;
    justify-content: space-between;
}

@mixin flex-end{
    display: flex;
    justify-content: flex-end;
}