/* Nosotros ---------------------------------------------*/ 
.nosotros{
    background-color: map-get($styles, bgDarkColor);
}
.nosotros.containerFlex{
    @include flex-space-between;
    flex-wrap: wrap;
    .divCarousel{
        width: 68%;
    }
    .textoNosotros{
        @include flex-center;
        width: 29%;       
        flex-direction: column;
        h1{
            margin-top: 20px;
        }
    }
}