/* Sucursales ---------------------------------------------*/ 
.sucursales{
    background-color: $bg_dark;
    .containerFlex{
        justify-content: space-between;
        flex-wrap: wrap;
        article{
            width: 30%;
            margin-bottom: 20px;
            .containerMap{
                width: 100%;    
                height: 500px;
                iframe{
                    width: 100%;    
                    height: 100%;
                }
            }
            div{
                h2{
                    color: $text_green;
                    margin-bottom: 0px;
                    margin-top: 10px;
                }
            } 
        }
    }
}