/* Sucursales ---------------------------------------------*/ 
.sucursales{
    background-color: map-get($styles, bgDarkColor);
    .containerFlex{
        justify-content: space-between;
        flex-wrap: wrap;
        article{
            width: 30%;
            margin-bottom: 20px;
            h2{
                color: map-get($styles, accentColor);
                margin-bottom: 0px;
                margin-top: 10px;
            }
        }
    }
}